<body id="page-top">
     <!-- Navigation-->
    <app-top-nav-bar></app-top-nav-bar>

    <!-- Masthead-->
    <app-header></app-header>

    <!-- Portfolio Section-->
    <app-portfolio></app-portfolio>

     <!-- About Section-->
     <app-about></app-about>

     <!-- Contact Section-->
     <app-contact></app-contact>

     <!-- Get Some Advice -->
     <app-api></app-api>
      
      <!-- Footer-->
     <app-footer></app-footer>
   
    <!-- Copyright Section-->
    <!-- <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; lauoj.com</small></div>
    </div> -->
   
</body>